* {
  margin:0;
  padding:0;
  font-family: 'vazir', 'arial';
  direction: rtl;
  box-sizing: border-box;
}


.container {
  color: #4b4b4b;
  background: url('https://i.ibb.co/MNRLXDQ/bg1.jpg') no-repeat;
  background-size: cover;
}

.bgdark {
  background: rgba(0, 0, 0, 0.6);
}

.top {
  background: rgba(0, 0, 0, 0.2);
  padding: 2rem 0;
  text-align: center;
}

.top h3 {
  font-size: 2rem;
  color: whitesmoke;
  letter-spacing: .1rem;
}

.top .control {
  padding:.7rem 1rem;
  margin-top:1rem;
  width:30%;
  border-radius: .2rem;
  border:none;
  outline:none;
}

.top .control::placeholder {
  color: #717171;
  font-size:1rem;
}

.btn {
  padding: .7rem 1rem;
  cursor: pointer;
  border-radius:.2rem;
  background: crimson;
  color: #fff;
  border:none;

}

.main {
  padding:0;
  width:70%;
  margin:0 auto;
  padding:1rem 2rem;
  
}

.name {
  padding:2rem;
}

.title {
  margin:0;
}

.right {
  background: #fff;
}

.right h4 {
  font-size:1.5rem;
  border-bottom:1px solid #eee;
  padding-bottom:.1rem;
}


.right .space {
  display:inline;
  margin:0 .5rem;
  padding:.5rem;
}

.right .space span {
  font-size:1rem;
}
.right .space b {
  font-size:1rem;
}

.error h4{
  border:none;
}
.error-h4 {
  text-align:center;
  color:#C9302C;
}

.info {
  margin:.5rem 0;
  background: #eee;
  padding:1rem;
  display: flex;
  justify-content: center;
  flex-direction: row;
  padding:2rem 2rem;
}
.article {
  flex:1;
  padding-top:5rem;
  margin: 0;
  justify-content: center;
  padding:0 1rem;
}

.img {
  flex:1;
  justify-content: center;
}
.img img {
  width:100%;
  float:left;
  height:50vh;
}
.bottom { 
  padding:1rem ;
}

footer {
  background: rgba(0, 0, 0, 0.8);
  padding:1.5rem 0;
  text-align:center;
  color:#eee;
}
footer h3 a {
  color: lightblue;
  text-decoration:none;
}

@media screen and (max-width: 1100px) {
  .info {
    margin:1.5rem 0;
  }
  .main {
    padding:5%;
    width:100%;
  }
  .left {
    border:none;
    padding:0;
  } 
  .left img {
    height: 100%;
  }
  .right {
    flex:1;
    padding:1rem 2rem;
  }
  .main {
    flex-direction: column;
  }
}

@media screen and (max-width: 500px) {
  .top .control {
    width:60%;
    padding:.6rem .3rem;
  }
  .top .control::placeholder {
    font-size:.8rem;
  }
  .btn {
    padding:.6rem 1rem;
    background: crimson;
    color: #fff;
    border:none;
    border-radius:.2rem;
  }
  .main {
    margin:0;
    padding:0;
  }
  .name {
    margin: 0;
    padding: 0 1rem;
  }
  .right {
    margin:0;
    padding:1rem 0;
  }
  .title {
    margin:0;
    padding: 1rem 1rem 0 1rem;
  }
  .right .space {
    padding: 0;
    margin: 0;
  }
  .right .space span {
    display: block;
  }
  .right h4 {
    margin: 0;
    padding-bottom:.5rem;
  }
  .info {
    margin:1rem 0;
    padding:1rem .5rem;
    font-size:1rem;
    flex-direction: column;
  }
  .left {
    border:none;
  }
  .article {
    padding-bottom:1rem;
  }
  .left img{
    height:auto;
  }
  footer {
    padding: 1rem 0;
    font-size:.8rem;
  }
}



